<!DOCTYPE html>
<html ng-app="readUs">
  <head>
    <meta charset="UTF-8">
    <title>Electron Read Us</title>
  </head>
  <body ng-controller="MainController as main">

    <!-- READMEの一覧 -->
    <ul>
      <li ng-repeat="file in main.fileList">
        <a ng-click="main.getFile(file)">{{file.moduleName}}</a>
      </li>
    </ul>

    <!-- 選択したREADMEをMarkdown表示 -->
    <div ng-if="main.fileText">
      <div md-preview="main.fileText"></div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/marked/lib/marked.js"></script>
    <script src="index.js"></script>
  </body>
</html>
